.txt-color {
  color: #7126b5 !important;
}

.custom-button-otp {
  background-color: #7126b5 !important;
}

.size-logo {
  width: 4rem;
}

.resend {
  color: red;
}

.resend:hover {
  color: rgb(159, 0, 0);
}
