@media (max-width: 360px) {
  .card-size {
    display: grid;
    width: 100%;
  }
}

.btn {
  background-color: #e2d4f0;
  color: black;
}

.btn-selected {
  background-color: #7126b5 !important;
  color: white !important;
}

.font-image {
  height: 20px;
  width: 20px;
  margin-bottom: 4px;
  margin-right: 4px;
}

.btn-position {
  display: flex;
  justify-content: center;
}

.text-position {
  display: flex;
}

.text {
  margin: 2px 0;
}

.card-background {
  background-color: #fff;
}

.text-color {
  color: #7126b5;
}

.link-unstyled {
  text-decoration: none;
}

.Card-component:hover {
  transform: scale(0.9);
  transition-delay: 0.2s;
}
