.btn {
  background-color: #e2d4f0;
  color: black;
}

.btn-selected {
  background-color: #7126b5 !important;
  color: white !important;
}

.font-image {
  height: 20px;
  width: 20px;
  margin-bottom: 4px;
  margin-right: 4px;
}
